
$veryDarkGrayishBlue: hsl(217,19%,35%);
$grayishBlue: hsl(212,23%,69%);
$desaturatedDarkBlue: hsl(214,17%,51%);


.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translateX(100%);
	& > img{
		transform: scale(150%);
	}
}
.clicked {
	background: $desaturatedDarkBlue;
	& > img {
		filter: sepia(100%) brightness(100%);
	}
}
@media(max-width:1050px){
.contact{
	all: initial;
}
.clicked {
	background: $grayishBlue;
	& > img {
	filter: sepia(100%) brightness(100%);
		}
	}
}

