
$veryDarkGrayishBlue: hsl(217,19%,35%);
$desaturatedDarkBlue: hsl(214,17%,51%);
$grayishBlue: hsl(212,23%,69%);
$lightGrayishBlue: hsl(210,46%,95%);

body {
	background: $lightGrayishBlue;
	color: $veryDarkGrayishBlue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height:100vh;
	font-size: 13px;
	font-family: 'Manrope', sans-serif;
}
p{
	margin: 0;
}
h1{
	margin: 1em 0;
}
div.wrapper {
	height: 400px;
	display:flex;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 25px 30px $grayishBlue;
	& > .main {
		width: 450px;
		margin: 0 50px 0 0;
		display:flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding: 50px;
	}
	& > .main > h1 {
		font-size:2em;
		font-weight: 700;
	}
	& > .main > p {
		font-size: 1em;
		color: $desaturatedDarkBlue;
	}
}
.img-wrapper {
	width: 400px;
	height: 400px;
	overflow: hidden;
	img {
		width: 500px;
		height: auto;
	}
}
.personal-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	& > .contact {
		& > img{
			transform: scale(150%) translateX(200%);

		}
	}
}
#avatar-wrapper {
	width:100%;
	display: flex;
	align-items: center;
	& > img {
		border-radius: 50%;
		margin: 15px;
		width: 55px;
		height: auto;
		float: left;
	}
	& > div > h2 {
		font-weight: 700;
		margin: .3em 0;
		font-size: 1.2em;
	}
	& > div > p {
		font-size: 1em;
		color: $desaturatedDarkBlue;
	}
}
