
$veryDarkGrayishBlue: hsl(217,19%,35%);
$desaturatedDarkBlue: hsl(214,17%,51%);
$grayishBlue: hsl(212,23%,69%);
$lightGrayishBlue: hsl(210,46%,95%);

body {
	background: $lightGrayishBlue;
	color: $veryDarkGrayishBlue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height:100vh;
	font-size: 13px;
	font-family: 'Manrope', sans-serif;
}
p{
	margin: 0;
	font-size: 1.3em;
	font-weight: 400;
	color: $desaturatedDarkBlue;
}
h1{
	margin: 0 0 1em 0;
}
.wrapper {
	height: 400px;
	display:flex;
	border-radius: 10px;
	box-shadow: 5px 25px 30px $grayishBlue;
	& > .main {
		width: 450px;
		margin: 0 50px 0 0;
		display:flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding: 50px;
	}
	& > .main > h1 {
		font-size:2em;
		font-weight: 700;
	}
}
.img-wrapper {
	width: 400px;
	height: 400px;
	overflow: hidden;
	border-radius: 10px 0 0 10px;
	img {
		width: 500px;
		height: auto;
	}
}
.personal-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	& > .contact { 
		transform: translateX(100%);
		& > img{
			transform: scale(150%);

		}
	}
}
#avatar-wrapper {
	width:100%;
	display: flex;
	align-items: center;
	& > img {
		border-radius: 50%;
		margin: 15px;
		width: 55px;
		height: auto;
		float: left;
	}
	& > div > h2 {
		font-weight: 700;
		margin: .3em 0;
		font-size: 1.2em;
	}
	& > div > p {
		font-size: 1em;
		color: $desaturatedDarkBlue;
	}
}
.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: yellow url('/images/icon-share.svg') no-repeat center;
	background-size: 60%;
}
	.clicked {
		mix-blend-mode: multiply;
	}
.share{
	&::before{
		content: '';
		background: $veryDarkGrayishBlue;
		transform: translateX(-50%) rotate(45deg);
		width: 25px;
		height:25px;
		position:absolute;
		bottom:-12px;
		left: 50%;
		z-index:-1;
	}
	*{
		margin: 10px;
	}
	position:  absolute;
	width: 300px;
	height: 60px;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	background: $veryDarkGrayishBlue;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	h2{
		color: $grayishBlue;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 400;
		letter-spacing: 5px;
	}
}
