$veryDarkGrayishBlue: hsl(217,19%,35%);
$desaturatedDarkBlue: hsl(214,17%,51%);
$grayishBlue: hsl(212,23%,69%);
$lightGrayishBlue: hsl(210,46%,95%);

body {
	background: $lightGrayishBlue;
	color: $veryDarkGrayishBlue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height:100vh;
	font-size: 13px;
	font-family: 'Manrope', sans-serif;
}
p{
	margin: 0;
	font-size: 1.3em;
	font-weight: 400;
	color: $desaturatedDarkBlue;
}
h1{
	margin: 0 0 1em 0;
}
.wrapper {
	height: 400px;
	display:flex;
	border-radius: 10px;
	box-shadow: 5px 25px 30px $grayishBlue;
}
.img-wrapper {
	width: 400px;
	height: 400px;
	overflow: hidden;
	border-radius: 10px 0 0 10px;
	img {
		width: 500px;
		height: auto;
	}
}
.personal-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	& > .contact { 
		transform: translateX(100%);
		& > img{
			transform: scale(150%);

		}
	}
}
#avatar-wrapper {
	width:100%;
	display: flex;
	align-items: center;
	& > img {
		border-radius: 50%;
		margin: 15px;
		width: 55px;
		height: auto;
		float: left;
	}
	& > div > h2 {
		font-weight: 700;
		margin: .3em 0;
		font-size: 1.2em;
	}
	& > div > p {
		font-size: 1em;
		color: $desaturatedDarkBlue;
	}
}

@media(max-width: 1050px){
p{
	margin: 0;
	font-size: 1em;
	font-weight: 400;
	color: $desaturatedDarkBlue;
}
h1{
	font-size: 1.2rem;
	margin: 0 0 1em 0;
}
.wrapper {
	width: 85vw;
	height: unset;
	display:flex;
	flex-flow: column;
	border-radius: 10px;
	box-shadow: 5px 25px 30px $grayishBlue;
}

.img-wrapper {
	all: unset;
	width: 100%;
	img {
		border-radius: 10px 10px 0 0;
		width: 100%;
		height: auto;
	}
}
.personal-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

}
